*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

#logo{
    color: white;
}


.nav-buttons{
    height: 35px;
    background-color: #1c508d;
    color:white;
    border-radius: 100px;
    border-color: transparent;
}

#carrusel{
    display: flex;
    position: relative;
    text-align: center;
}

.carrusel-title{
    color: white;
    position: absolute;
}

.image-lp{
    width: 273.2px;
    height: 400px;
}
